body {
  margin: 0;
  padding: 0;
  background-color: #2f2f2f;
  font-family: 'Roboto', sans-serif;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  max-width: 900px;
  margin: 20px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
}

.main-image img {
  width: 100%;  /* Ajustando para que a imagem principal ocupe toda a largura disponível */
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.content {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.left-column, .right-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 180px;  /* Definindo um tamanho fixo para cada coluna */
}

.left-column img, .right-column img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.text {
  width: 400px;
  text-align: justify;
  font-size: 18px;
  line-height: 1.6;
}

.btn {
  background-color: #f78ca2;
  color: #000;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .content {
      flex-direction: column;
      align-items: center;
  }

  .left-column, .right-column {
      width: 90%;  /* Ajustando a largura para que as colunas ocupem mais espaço em telas pequenas */
  }

  .text {
      width: 90%;
      font-size: 16px;  /* Reduzindo o tamanho da fonte para telas menores */
  }

  .main-image img {
      width: 80%;  /* Ajustando a largura para que a imagem principal ocupe mais espaço em telas pequenas */
  }
}
